:root {
  --primary-color: #e47255;
  --secondary-color: #b2422c;
  --tertiary-color: #140a07;
  --fourth-color: #7ea0a0;
  --fifth-color: #322c18;
}
* {
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: 'Rozha One', serif;
  font-size: 100%;
}
.header, footer {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.h1 {
  padding: 20px 100px 10px 100px;
  color: v ar(--tertiary-color);
  font-size: 3.0em;
  /*text-shadow: 2px 2px var(--fourth-color); */
}

header nav ul, footer ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-right: 20px;
}
header nav ul li {
  padding: 10px 20px;
  color: var(--tertiary-color);
  font-size: 2.0em;
}
.content {
  background-color: var(--fourth-color);
}
footer {
  font-size: 2.0em;

}
footer h3 {
  padding: 20px 100px 10px 100px;
}
footer ul li a {
  text-decoration: none;
  color: var(--tertiary-color);
  padding: 10px 20px;
}
.about-container {
  display: flex;
  flex-direction: column;
}
.about {
  font-size: 1.5em;
  padding: 20px 50px;
}
#amyImage {
  width: 100%;
  padding: 50px;
}

@media screen and (min-width: 910px) {
  .header, footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .h1 {
    padding: 75px 100px;
  }
  header nav ul, footer ul {
    flex-direction: row;
  }
}
@media screen and (min-width: 575px) {
  #amyImage {
    width: 33%;
    padding: 10px;
  }
  .about-container {
    flex-direction: row;
  }
}